<div class="checkout">
    <h1>Checkout</h1>
    <p class="message-p">{{orderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shipping-address">
            <h3>Add shipping address</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input class="form-input" type="text" ngModel name="email" placeholder="Enter User Email">
                <input class="form-input" type="text" ngModel name="address" placeholder="Enter Your Address">
                <input class="form-input" type="text" ngModel name="contact" placeholder="Enter Contact detail">
                <button class="form-button">Order Now</button>
            </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount: {{totalPrice }}</h3>
            <h4>Payment Method : <b>Pay on Delivery</b></h4>

        </div>
    </div>
    
</div>