<div class="cart-page page-container">
  <div class="cart-header">
    <h1>Cart Page</h1>
    <p class="message-p">{{ productMessage }}</p>
  </div>

  <div class="row g-4" *ngIf="cartData?.length; else emptyCart">
    <div class="col-12 col-lg-8">
      <div class="cart-items">
        <div *ngFor="let cart of cartData" class="cart-item">
          <div class="item-image">
            <img [src]="cart.thumbnail" [alt]="cart.title">
          </div>

          <div class="item-info">
            <h5>{{ cart.title }}</h5>
            <p class="item-category">{{ cart.category }}</p>
          </div>

          <div class="item-meta">
            <div class="meta-block">
              <span class="label">Price</span>
              <span class="value">{{ cart.price }} $</span>
            </div>

            <div class="meta-block">
              <span class="label">Qty</span>
              <span class="value">{{ cart.quantity }}</span>
            </div>
          </div>

          <div class="item-action">
            <button (click)="removeToCart(cart.id)" class="remove-btn">
              Remove from cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="summary-card">
        <h3>Summary</h3>

        <ul class="summary-list">
          <li>
            <span>Amount</span>
            <span>{{ priceSummary.price }}</span>
          </li>
          <li>
            <span>Tax</span>
            <span>{{ priceSummary.tax }}</span>
          </li>
          <li>
            <span>Delivery</span>
            <span>{{ priceSummary.delivery }}</span>
          </li>
          <li>
            <span>Discount</span>
            <span>{{ priceSummary.discount }}</span>
          </li>
          <li class="total-row">
            <span>Total</span>
            <span>{{ priceSummary.total }}</span>
          </li>
        </ul>

        <button (click)="checkout()" class="checkout-btn">Checkout</button>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="empty-cart">
      <h3>Your cart is empty</h3>
      <p>Start adding products to see them here.</p>
      <a routerLink="/" class="shop-btn">Continue Shopping</a>
    </div>
  </ng-template>
</div>
