<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let item of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}"><img class="product-header-img" src="{{item.thumbnail}}" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.title}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="product-list-wrapper page-container">
  <h1>Trendy Products</h1>

  <div class="row g-4">
    <div *ngFor="let item of trendyProduts" class="col-12 col-sm-6 col-lg-3">
      <div class="product-item">
        <a routerLink="/details/{{item.id}}" class="product-image-link">
          <img [src]="item.thumbnail" [alt]="item.title">
        </a>

        <div class="product-details">
          <h6 class="name-head">{{ item.title }}</h6>
          <div class="product-price">{{ item.price }} <span>$</span></div>
          <div class="product-meta">{{ item.category }}</div>
        </div>

        <div class="product-footer">
          <a routerLink="/details/{{item.id}}" class="details-btn">View Details</a>
          <button class="cart-btn" (click)="addToCart(item.id)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
